<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> create subject </title>
    <meta charset="UTF-8">
    </meta>
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<p class="headerStyle" align="right">
    <a class="outFonts" th:href="@{/logout}"> Выход</a>
</p>
<workSpace>
    <container>
<h1> 📖 Создание темы </h1>

<form class="fonts" th:action="@{/tests/saveSubject}" method="post">
    <label for="subjectName">Название</label>:
    <input type="text" id="subjectName" name="subjectName" autofocus="autofocus" autocomplete="off"/> <br/>
    <label for="subjectNum">Номер</label>:
    <input type="text" id="subjectNum" name="subjectNum" autofocus="autofocus" autocomplete="off"/> <br/>
    <div class="saveButtonCont">
    <input class="buttons" type="submit" value="Сохранить"/>
    </div>

</form>
        </container>
    </workSpace>
<form th:action="@{/tests}" method="post">
    <div class="backButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>