<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> edit group </title>
    <meta charset="UTF-8">
    </meta>
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<p class="headerStyle" align="right">
    <a class="outFonts" th:href="@{/logout}"> Выход</a>
</p>
<workSpace>
    <container>
<h1>📋Редактор тем</h1>

<form class="fonts" th:action="@{/tests/saveChanges/}+${subjectId}" method="post">
    <label for="subjectName">Тема</label>:
    <input type="text" th:value="${subjectName}" id="subjectName" name="subjectName" autofocus="autofocus"
           autocomplete="off"/> <br/>
    <label for="subjectNum">Номер</label>:
    <input type="text" th:value="${subjectNum}" id="subjectNum" name="subjectNum" autofocus="autofocus"
           autocomplete="off"/> <br/>
    <div class="saveButtonCont">
    <input class="buttons" type="submit" value="Сохранить"/>
    </div>
</form>

<form th:action="@{/tests/addQuestion/}+${subjectId}" method="post">
    <div class="addButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>

<table class="fonts">


    <tr th:each="question : ${questions}">
        <td th:text="'🔘'+${question.num}+ ${question.formulation}">num</td>

        <td>
            <form th:action="@{/tests/}+${subjectId}+@{/deleteQuestion/}+${question.id}" method="post">
                <div class="deleteButtons">
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </td>

        <td>
            <form th:action="@{/tests/}+${subjectId}+@{/editQuestion/}+${question.id}" method="post">
                <div class="editButtons">
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </td>
    </tr>
</table>
        </container>
        </workSpace>


<form th:action="@{/tests}" method="post">
    <div class="backButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>

</body>
</html>