<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> group page </title>
    <meta charset="UTF-8">
    </meta>
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<p class="headerStyle" align="right">
    <a class="outFonts" th:href="@{/logout}"> Выход</a>
</p>
<workSpace>
    <container>
<h1 th:text="'📈 Отчет по группе '+${groupName}"></h1>

<table class="fonts resultTable">
    <thead>

        <th class="resultTh">Имя</th>
        <th class="resultTh" th:each="subject : ${subjects}" th:text="'Тема № '+${subject.num}"></th>

    </thead>
    <tr class="resultTr" th:each="student : ${students} ">
        <td class="resultTd" th:text="${student.getName()}"></td>

        <td class="resultTd" th:each="result : ${results}" th:if="${student.getId()}==${result.getUser().getId()}"
            th:text="${result.mark}"></td>

    </tr>


</table>
        <br/>
        </container>
        </workSpace>

<form th:action="@{/admin/controlGroups}" method="post">

    <div class="backButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>