<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> result page </title>
    <meta charset="UTF-8">
    </meta>
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<p align="right">
    <a class="outFonts" th:href="@{/logout}"> Выход</a>
</p>

<h1>Результат</h1>
<form class="mark" th:action="@{/student}" method="post">
    <h2 th:text="${mark}"></h2>

    <div class="backButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>