<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> student page </title>
    <meta charset="UTF-8">
    </meta>
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<p align="right">
    <a class="outFonts" th:href="@{/logout}"> Выход</a>
</p>

<h1 th:text="${subjectName}"></h1>
<p>
    <progr >
        <progress id="progressbar" th:value="${position}" th:step="${step}" max="100"></progress>
    </progr>
</p>
<h2 th:text="'Вопрос: '+${questionFormulation}"></h2>

<form th:action="@{/student/subject/}+${subjectId}" method="POST">
    <table>
        <tr th:each="answer : ${answers}">
            <td>
                <input type="checkbox" th:id="${answer.id}" th:name="${answer.id}"/>

            </td>
            <td th:text="${answer.formulation}">Formulation</td>
        </tr>
    </table>
    <div class="nextButtons">
        <input type="submit" value="Submit"/>
    </div>
</form>


</body>
</html>